# =========================
# Shared security settings
# =========================
JWT_SECRET=my-super-secret-key-my-super-secret-key-my-super-secret-key
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# =========================
# Kafka / Redis
# =========================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_MESSAGE_TOPIC=message-service
KAFKA_CHAT_TOPIC=chat-service
KAFKA_ENCRYPT_KEYS_TOPIC=encrypt-keys-service
KAFKA_DELETE_ENCRYPT_KEYS_TOPIC=delete-encrypt-keys

# MessageService consumer groups
KAFKA_MESSAGE_GROUP=message-service
KAFKA_CHAT_GROUP=chat-service
KAFKA_ENCRYPT_KEYS_GROUP=encrypt-keys-service
KAFKA_DELETE_ENCRYPT_KEYS_GROUP=delete-encrypt-keys

# Gateway consumer groups (must be different from MessageService)
KAFKA_GATEWAY_MESSAGE_GROUP=gateway-message-service
KAFKA_GATEWAY_CHAT_GROUP=gateway-chat-service
KAFKA_GATEWAY_ENCRYPT_KEYS_GROUP=gateway-encrypt-keys-service

# =========================
# Service URLs
# =========================
USER_SERVICE_URL=http://localhost:8081
MESSAGE_SERVICE_URL=http://localhost:8082
KEY_VAULT_SERVICE_URL=http://localhost:8085

# =========================
# UserService DB
# =========================
USER_DB_URL=jdbc:postgresql://localhost:5433/postgres
USER_DB_NAME=postgres
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=postgres

# =========================
# MessageService DB
# =========================
MESSAGE_DB_URL=jdbc:postgresql://localhost:5435/postgres
MESSAGE_DB_NAME=postgres
MESSAGE_DB_USERNAME=postgres
MESSAGE_DB_PASSWORD=postgres

# =========================
# KeyVaultService DB
# =========================
KEYVAULT_DB_URL=jdbc:postgresql://localhost:5436/postgres
KEYVAULT_DB_NAME=postgres
KEYVAULT_DB_USERNAME=postgres
KEYVAULT_DB_PASSWORD=postgres
